<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>

<hr>
<td><a th:href="@{/admin}">All users</a></td>
<hr>

<form th:method="POST" th:action="@{admin/addUser}" th:object="${user}">
    <div>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
<!--        <label for="role">Role: </label>-->
<!--        <input type="text" th:field="*{}" id="role"/>-->
<!--        <br/>-->
        <input type="submit" value="Create user"/>
    </div>
</form>

<br/>
<hr>
<td><a th:href="@{/logout}">Logout</a></td>
<hr>

</body>
</html>